{% trans_default_domain 'FOSUserBundle' %}


{% block body %}
<!DOCTYPE HTML>
<html>
<head>
    <title>Easy Admin Panel an Admin Panel Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Easy Admin Panel Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Bootstrap Core CSS -->
    <link href="{{ asset('template/css/bootstrap.min.css') }}" rel='stylesheet' type='text/css' />
    <!-- Custom CSS -->
    <link href="{{ asset('template/css/style.css')}}"  rel='stylesheet' type='text/css' />
    <!-- Graph CSS -->
    <link href="{{ asset('template/css/font-awesome.css')}}"  rel="stylesheet">
    <!-- jQuery -->
    <!-- lined-icons -->
    <link rel="stylesheet" href="{{ asset('template/css/icon-font.min.css')}}" type='text/css' />
    <!-- //lined-icons -->
    <!-- chart -->
    <script src="{{ asset('template/js/Chart.js')}}"></script>
    <!-- //chart -->
    <!--animate-->
    <link href="{{ asset('template/css/animate.css')}}" rel="stylesheet" type="text/css" media="all">
    <script src="{{ asset('template/js/wow.min.js')}}"></script>
    <script>
        new WOW().init();
    </script>
    <!--//end-animate-->
    <!----webfonts--->
    <link href='//fonts.googleapis.com/css?family=Cabin:400,400italic,500,500italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
    <!---//webfonts--->
    <!-- Meters graphs -->
    <script src="{{ asset('template/js/jquery-1.10.2.min.js')}}"></script>
    <!-- Placed js at the end of the document so the pages load faster -->

</head>

<body class="sticky-header left-side-collapsed">
<section>
    <!-- left side start-->
    <div class="left-side sticky-left-side">

        <!--logo and iconic logo start-->
        <div class="logo">
            <h1><a href="index.html">Easy <span>Admin</span></a></h1>
        </div>
        <div class="logo-icon text-center">
            <a href="/"><i class="lnr lnr-home"></i> </a>
        </div>

        <!--logo and iconic logo end-->
        <div class="left-side-inner">

            <!--sidebar nav start-->
            <ul class="nav nav-pills nav-stacked custom-nav">
                <li class="active"><a href="/"><i class="lnr lnr-power-switch"></i><span>Tableau de bord</span></a></li>
                <li><a href="/import/new"><i class="	glyphicon glyphicon-upload"></i> <span>importer les donnees</span></a></li>
                <li><a href="forms.html"><i class="glyphicon glyphicon-th-list"></i> <span>Liste des candidates</span></a></li>
                <li><a href="tables.html"><i class="	glyphicon glyphicon-menu-hamburger"></i> <span>Liste des electeurs</span></a></li>
                <li><a href="forms.html"><i class="glyphicon glyphicon-check"></i> <span>Resultat</span></a></li>


            </ul>
            <!--sidebar nav end-->
        </div>
    </div>
    <!-- left side end-->

    <!-- main content start-->
    <div class="main-content">
        <!-- header-starts -->
        <div class="header-section">

            <!--toggle button start-->
            <a class="toggle-btn  menu-collapsed"><i class="fa fa-bars"></i></a>
            <!--toggle button end-->

            <!--notification menu start -->
            <div class="menu-right">
                <div class="user-panel-top">
                    <div class="profile_details_left">
                        <div class="clearfix"></div>
                        </ul>
                    </div>
                    <div class="profile_details">
                        <ul>
                            <li class="dropdown profile_details_drop">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <div class="profile_img">
                                        <span style="background:url{{ asset('template/images/1.png')}} no-repeat center"> </span>
                                        <div class="user-name">
                                            <p> {{ app.user.username }} <span>Administrator</span></p>
                                        </div>
                                        <i class="lnr lnr-chevron-down"></i>
                                        <i class="lnr lnr-chevron-up"></i>
                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                                <ul class="dropdown-menu drp-mnu">
                                    <li> <a href="#"><i class="fa fa-cog"></i> Settings</a> </li>
                                    <li> <a href="http://localhost/Vote_electronique/web/app_dev.php/profile/edit"><i class="fa fa-user"></i>Profile</a> </li>
                                    <li> <a href="sign-up.html"><i class="fa fa-sign-out"></i> Logout</a> </li>
                                </ul>
                            </li>
                            <div class="clearfix"> </div>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!--notification menu end -->
        </div>
        <!-- //header-ends -->
        <div id="page-wrapper">
            <div class="graphs">
                <div class="col_3" style="margin-top: 20px">

                  {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
                  {{ form_widget(form) }}
                  <div>
                      <div class="form-group">
                          <div class="col-sm-offset-2 col-sm-10">
                 <input type="submit" value="{{ 'profile.edit.submit'|trans }}" />
                          </div>
                      </div>
                  </div>

                  {{ form_end(form) }}

                    <div class="clearfix"> </div>
                </div>


        </div>
        <!--body wrapper end-->
        </div></div>

    <!-- main content end-->
</section>

<script src="{{ asset('template/js/jquery.nicescroll.js')}}"></script>
<script src="{{ asset('template/js/scripts.js')}}"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{{ asset('template/js/bootstrap.min.js')}}"></script>
</body>
</html>

{% endblock %}