{% extends 'base.html.twig' %}

{% block body %}
    <h1>Decryptedvote</h1>

    <table>
        <tbody>
            <tr>
                <th>Decryptedvalue</th>
                <td>{{ decryptedvote.decryptedValue }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ decryptedvote.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('decryptedvote_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('decryptedvote_edit', { 'id': decryptedvote.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
